@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body{
	background-image: url(Vecteezy_Neon_background5_AA0321-01.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 16px;
	font-family: 'Didact Gothic', sans-serif;

}

a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	font-size: 18px;
}

.info p{
	color: #86898f;
	margin: 0;
	text-decoration: none;
	/*letter-spacing: 1x; размер между смволы*/
}
.info{
	display: flex;
	margin-top: 40px;
}
.info2{
	margin-left: 20px;
}
.ava{
	margin-bottom: 30px;
	width: 200px;
	height: 100%;
	border-radius: 10px;
	margin-top: 50px;
	box-shadow: 3px 2px 3px aqua;

}
/*Box social*/
.container{
	
	padding: 20px;
	max-width: 800px;
	width: 50%;
	margin: auto;
}

.social{

	border-radius: 10px;
}
.social{
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.gen{
	margin-bottom: 5px;
	padding: 1px 10px;
	background: #E8F8F5;
	border-radius: 4px;
	
}
.table{
	padding-bottom: 10px;
}
.table td:nth-child(2){
	color: #808B96;
}
.table td:nth-child(3){
	color:#808B96; ;
}
.contact h2{
	text-align: center;
}
.undercontact label{
	display: block;
	font-size: 14px;
	color: grey;
}
.undercontact input,
.undercontact textarea{
	width: 100%;
	border-radius: none;
	border: none;
	color: black;
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
	background: transparent;
	border-bottom: 1px solid #5385B8;
}
.empt{
	height: 80px;
}
.btn{
	width: 100px;
	height: 30px;
	border: none;
	background: #8FBCE9;
	margin-top: 10px;
	border-radius: 4px;
	cursor: pointer;
}
.skill{
	margin-top: 0;

}
.btn:hover{
	opacity: 0.8;
}
.colorform{
	background: #c5ddf5;
	border-radius: 5px;
	padding: 20px;
}